name: Delivery

on:
  tags: [ v* ]

permissions:
  contents: write

jobs:

  ensure-release-present:
    runs-on: ubuntu-latest
    steps:
      - name: Check whether release is present
        id: release-present
        run: gh release view ${{ github.ref_name }}
        continue-on-error: true
      - name: Make new release if necessary
        if: steps.release-present.outcome == 'failure'
        run: gh release create ${{ github.ref_name }} -t "${{ github.ref_name }}" -n "Check CHANGELOG.md in repository."

  build-release-artifact:
    needs: ensure-release-present
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ linux, darwin, windows ]
        arch: [ amd64, 386, arm, arm64 ]
        exclude:
          - os: darwin
            arch: 386
          - os: darwin
            arch: arm
    steps:
      - uses: actions/checkout@v2

      - name: Build artifact
        uses: ./.github/actions/build
        id: build
        with:
          os: ${{ matrix.os }}
          arch: ${{ matrix.arch }}

      - name: Upload artifact
        run: gh release upload ${{ github.ref_name }} ${{ steps.build.outputs.artifact-name }}
